<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
    <div class="about blogs content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, accusantium.</p>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>