        <nav>
            <div class="site-title">
                <a href="/blogs"><h1>Blog Show</h1></a>
                <p>Your favourite blog app</p>
            </div>
            <ul class="navbar__menu">
                <% if(user) { %>
                    <li class="active"><a href="/blogs">Blogs</a></li>
                    <li class="navbar__item"><%= user.email %></li>
                    <li class="navbar__item"><a href="/info/logout">Log out</a></li>
               <% } else { %>
                <li class="active"><a href="/blogs">Blogs</a></li>
                <li class="navbar__item"><a class="nav__link" href="/about">About</a></li>
                <li class="navbar__item"><a class="nav__link" href="/blogs/create">New Blog</a></li>
                <li class="navbar__item"><a class="nav__link" href="/info/login">Login</a></li>
                <li class="navbar__item"><a class="nav__link" href="/info/register">Register</a></li>
            <%  } %>
            </ul>
        
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    
    <script>
        const hamburger = document.querySelector(".hamburger");
        const navMenu = document.querySelector(".navbar__menu");
        const navLink = document.querySelectorAll(".nav__link");
    
        hamburger.addEventListener("click", mobileMenu);
    
        function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }

    

      navLink.forEach(n => n.addEventListener("click", closeMenu));

      function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
}
    </script>
