<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
    <div class="blogs form__container">
        <form action="/info/login" method="post">
            <label>Email:
                <input type="email" id="email" name="email"  required />
            </label>
            <label>Password:
                <input type="password" id="password" name="password"  required />
            </label>
            <button>Log In</button>
            <span class="span">Don't have account? <a href="/register">Register</a></span>
        </form>
    </div>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>